
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


h1 {
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	margin: 100px auto;
}


.container {
	margin: 30px;
	padding: 5px;
	border: 1px dotted grey;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}


.gallery {
	text-align: center;
	padding: 5px;
	background-color: white;
	margin: 5px;
	list-style: none;
	transition: 0.5s;
}


.gallery:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.gallery-item img {
	max-width: 300px;

}



.gallery-item .caption {
	display: none;
}





/*-------LIGHTBOX-------*/


.lightbox {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	z-index: 1;
	position: fixed;
	box-sizing: border-box;
	flex-wrap: wrap;
}


.lightbox a {
	font-weight: bold;
	font-size: 25pt;
	text-decoration: none;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	transition: 0.5s;
}


.lightbox a:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


.lightbox .lightbox-content {
	width: 70%;
	position: fixed;
	text-align: center;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 50%);
}


.lightbox .lightbox-content img{
	max-width: 100%;
	text-align: center;
}


.lightbox .lightbox-content .caption {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin: 20px;
}

.lightbox .prev {

	left: 0;
	top: 50%;
}


.lightbox .next {

	right: 0;
	top: 50%;

}

.lightbox .lightbox-close {
	top: 20px;
	right: 20px;
}


.hidden {
	display: none;
}
