* {
	margin: 0;
	padding: 0;
}


header {
	height: 80px;
	border: 3px solid black;
}

nav{
	width: 250px;
	border: 3px solid black;* {
	margin: 0;
	padding: 0;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #808080;
}



/*-----------HEADER-----------*/


header nav {
	width: 100%;
	height: 120px;
	margin: 0 auto 0 auto;
	box-sizing: border-box;
	border: 2px solid black;

}

header nav ul {
	margin-right: 60px;
	margin-top: 40px;
}


header nav ul li{
	display: inline-block;
	float: right;
	margin: 10px 0 auto 0;
}


header nav ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	margin: 0 20px 0 20px;
	text-decoration: none;
	color: #808080;
}



/*--------ARTICLE-------*/

article {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid red;
}


/*-----HEADER-------*/



/*
article .introduction header {
	width:;

}

article .introduction header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

*/



.intro {
	width: 55%;
	margin-top: 220px;
	margin-left: 70px;
	margin-bottom: 250px;
	padding: 40px;
	/*border: 2px solid blue;*/
	box-sizing: border-box;
	min-width: 350px;
}


.intro h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	font-weight: bold;
	line-height: 1.5em;

}



/*---------INFO---------*/


.container {
	width: 100%;
	border: 1px dotted green;
}

.container2 {
	width: 80%;
	margin: 0 auto 0 auto;
	border: 2px solid green;
	box-sizing: border-box;
	flex-wrap: wrap;
	overflow: hidden;
	display: flex;
}



/*-------EXPERIENCES-----/*/


.container .container2 .experiences {
	width: 50%;
	height: 500px;
	padding: 50px;
	border: 2px dotted grey;
	box-sizing: border-box;
	min-width: 300px;
}


/*-----ADD MEDAI QUERY------*/

.container .container2 .experiences h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
}


.container .experiences table {
	margin-top: 100px;
}


.container .experiences table tr td {
	width: 240px;
	border: 0.75px solid grey;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
}


/*-------EXPERTISE-------*/


.container .expertise {
	width: 50%;
	height: 500px;
	padding: 50px;
	border: 2px dotted grey;
	box-sizing: border-box;
	min-width: 300px;
}

.container .expertise h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
}


.container .expertise ul{
	margin-top: 80px;
	
}

.container .expertise ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	margin-top: 5px;

}



/*-------WORK 1----------*/


.container .work1 {
	width: 100%;
	height: 500px;
	padding: 50px;
	border: 2px dotted grey;
	box-sizing: border-box;
	min-width: 300px;

}


.container .work1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
}


.container .work1 .softwares {
	width: 80%;
	margin: 100px auto 0 auto;
	border: 1px dotted grey;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-around;
}


/*-----ADD MEDAI QUERY------*/

.container .work1 .softwares .ai {
	width: 80px;
	height: 80px;
	border: 1px dotted red;
}



.container .work1 .softwares .ps {
	width: 80px;
	height: 80px;
	border: 1px dotted red;
}


.container .work1 .softwares .ae {
	width: 80px;
	height: 80px;
	border: 1px dotted red;
}


.container .work1 .softwares .id {
	width: 80px;
	height: 80px;
	border: 1px dotted red;
}


.container .work1 .softwares .dw {
	width: 80px;
	height: 80px;
	border: 1px dotted red;
}


.container .work1 .softwares .maya {
	width: 80px;
	height: 80px;
	border: 1px dotted red;
}






/*------CONTACT----------*/


.container .work3 {
	width: 50%;
	height: 350px;
	padding: 50px;
	border: 2px dotted grey;
	box-sizing: border-box;
	min-width: 300px;
}


.container .work3 a{
	font-family: 'Lato', sans-serif;
	color: #808080;
	text-decoration: none;
	/*margin: auto 12px auto 12px;*/
}



.container .work3 .links {
	margin-top: 180px;
}


.container .work3 .links a{
	font-family: 'Lato', sans-serif;
	color: #808080;
	text-decoration: none;
	margin-right: 20px;
}




/*-------WORK 4----------*/


.container .work4 {
	width: 50%;
	height: 350px;
	padding: 50px;
	border: 2px dotted grey;
	box-sizing: border-box;
	min-width: 300px;
	position: relative;
}



.container .work4 a{
	font-family: 'Lato', sans-serif;
	color: #808080;
	text-decoration: none;
	position: absolute;
	bottom: 55px;
}








/*--------FOOTER-------*/

footer {
	width: 100%;
	height: 70px;
	background-color: #292929;
	margin-top: 50px;
	box-sizing: border-box;
	padding-top: 30px;
}



footer p{
	font-family: 'Lato', sans-serif;
	font-size: 9pt;
	color: #F0F0F0;
	text-decoration: none;
}



footer p a {
	font-family: 'Lato', sans-serif;
	font-size: 9pt;
	color: #F0F0F0;
}




/*

footer a{
	font-family: 'Lato', sans-serif;
	color: #F0F0F0;
	text-decoration: none;
	margin: auto 12px auto 12px;

}

*/



	margin: 10px 0 10px 0;
	float: right;
;
}

nav ul ol li {
	display: inline-block;

}

nav ul ol a{
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	text-decoration: none;
	color: #000000;
	margin: 0 10px 0 0;
}

article{
	border: 3px solid black;
}



.introduction {
	width: 50%;
	height: 300px;
	border: 3px solid black;
	box-sizing: border-box;
	float: left;
}



.introduction header{
	width: 45%;
	float: left;
	box-sizing: border-box;
	margin: 0 100px 0 100px;
}



.introduction header h1 {
	font-family: 'Lato', sans-serif;
	font-size: 20pt;
}






.expertise{
	width:  20%;
	float: right;
	border: 3px solid black;
	box-sizing: border-box;
	padding: 20px 20px 20px 20px;
	margin: 0 100px 0 100px;
}


h4 {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;

}


ul {
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	color: #979797;

}


.collage {
	width: 100%;
	display: inline-block;
	border: 3px solid black;
	padding: 50px 50px 50px 50px;
	box-sizing: border-box;
}


.contact {
	padding: 50px 150px 50px 150px;
	box-sizing: border-box;
}


.contact p {
	font-family: 'Lato', sans-serif;
	font-size: 20pt;
	text-align: center;
}


.contact p a{
	color: #76008b;
}


footer {
	background-color: #292929;
	margin-top: 50px;
}


footer p {
	padding-bottom: 20px;
}


footer p a{
	font-family: 'Lato', sans-serif;
	color: #F0F0F0;
	text-decoration: none;

}










